<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name%>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>


<p>
  <strong>Donor Donation Total</strong>
  <%=number_to_currency(@donor.donor_total)%>
</p>
<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
